@import "../../../../styles/settings.scss";
@import "../../../../styles/global.scss";

.heroWrapper{
    width:100%;
  margin: 0 auto;
}
img{
    width: 100%;
    height: 20vw;
    object-fit: cover;
};